name: "Pkl"
on:
  push:
    tags:
      - 'crossplane.contrib*.*.*'

jobs:
  pkl:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Pkl
        uses: pkl-community/setup-pkl@v0
        with:
          pkl-version: 0.26.1
      - name: Login to GH
        run: echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
      - name: Get Tag Name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Package and Create GitHub Release
        id: create_package
        run: make pkl-release TAG=$TAG_NAME
